<div class="container">
  <div class="header">
      <h2 class="title">APPX</h2>
  </div>
  <div class="login">
      <h2 class="form-title row">Iniciar Sesion</h2>
      <div class="form-login">
          <form #formLogin="ngForm" (ngSubmit)="login(formLogin)">
              <div class="row">
                  <input class="inp-log log-row" type="text"  
                    autocomplete="OFF" placeholder="Usuario.."
                      name="username" ngModel>
              </div>
              <div class="row">
                <label for="">
                    {{errorsLogin.username}}
                </label>
            </div>
              <div class="row">
                  <input type="password" class="inp-log log-row"  
                    autocomplete="OFF" placeholder="Contraseña.."
                      name="password" ngModel>
              </div>
              <div class="row">
                <label for="">
                    {{errorsLogin.password}}
                </label>
            </div>
              <div class="row">
                  <input type="submit" class="button btn-log" 
                    value="Entrar" >
              </div>
              
          </form>
          <a class="forget row" href="#">Recuperar Contraseña</a>
      </div>
  </div>
  <div class="register">
      <h2 class="form-title row">
          Registrate
      </h2>
      <div class="form-register">
          <form #formRegister="ngForm" (ngSubmit)="register(formRegister)" >
              <div class="row">
                  <label for="">Nombre de Usuario:</label>
                  
              </div>
              <div class="row">
                      <input type="text" class="inp-register" 
                        name="username" ngModel>
              </div>
              <div class="row">
                  
                <span for="">
                    {{errorsRegister.username}}
                </span>
            </div>
              <div class="row">
                  <label for="">Contraseña:</label>
              </div>
              <div class="row">
                      <input type="password" class="inp-register" 
                      name="password" ngModel>
              </div>
              <div class="row">
                <span for="">
                    {{errorsRegister.password}}
                </span>
            </div>
              <div class="row">
                <label for="">Confirmar Contraseña:</label>
                
            </div>
            <div class="row">
                    <input type="password" class="inp-register" 
                    name="confirm_password" ngModel>
            </div>
            <div class="row">
                <span for="">
                    {{errorsRegister.confirm_password}}
                </span>
            </div>
              <div class="row">
                  <label for="">Correo Electronico:</label>
                  
              </div>
              <div class="row">
                      <input type="text" class="inp-register" 
                        name="email" ngModel>
              </div>
              <div class="row">
                <span for="">
                    {{errorsRegister.email}}
                </span>
            </div>
              <div class="row">
                  <input type="submit" value="Registrate" 
                    class="button btn-register">
              </div>
          </form>
      </div>
      
  </div>
  <div class="footer">
      <a href="">SOBRE NOSOTROS</a>
      <a href="">TU OPINION</a>
      <a href="">{{value}}</a>
  </div>
</div>